<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        
        <a class="navbar-brand navbar-left" href="#" >Kizen</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a routerLink="/signup" style="font-family: verdana; color: #e1ffff; font-size:12px;"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a routerLink="/login" style="font-family: verdana; color: #e1ffff; font-size:12px;"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </nav>