
               
   
                

<div class="row">   
        <div class="col-md-5">
            
            <div class="row">
              <div class="col-md-12">
                    <chart-line></chart-line>
              </div> 
            </div>
          </div>
          <div class="col-md-1">
            &nbsp;
          </div>
          <div class="col-md-6">
                <div class="row">
                  <div class="col-md-12">
                        <chart-bar></chart-bar>  
                  </div> 
                </div>
              </div>
    </div>
      