<div class="row">
<div class="col-md-7">
    <div class="panel panel-default">
        <div class="panel-heading">Buttons</div>
            <div class="panel-body">
            <h3>Buttons</h3>
                <button type="button" class="btn btn-primary">Primary</button>
                <button type="button" class="btn btn-success">Success</button>
                <button type="button" class="btn btn-default">Default</button>
                <button type="button" class="btn btn-danger">Danger</button>
                <button type="button" class="btn btn-warning ">Warning</button>
                <button type="button" class="btn btn-info">Info</button>
            </div>
            <div class="panel-body">
                <h3>Disabled Buttons</h3>
                    <button type="button" class="btn btn-primary disabled">Primary</button>
                    <button type="button" class="btn btn-success disabled">Success</button>
                    <button type="button" class="btn btn-default disabled">Default</button>
                    <button type="button" class="btn btn-danger disabled">Danger</button>
                    <button type="button" class="btn btn-warning disabled">Warning</button>
                    <button type="button" class="btn btn-info disabled">Info</button>
            </div>
            <div class="panel-body">
                <h3>Buttons Sizes</h3>
                <button type="button" class="btn btn-primary btn-lg">Large</button>
                <button type="button" class="btn btn-primary btn-md">Medium</button>
                <button type="button" class="btn btn-primary btn-sm">Small</button>
                <button type="button" class="btn btn-primary btn-xs">XSmall</button>
            </div>
     </div>
</div>
<div class="col-md-5">
    <div class="panel panel-default">
        <div class="panel-heading">
            Hey Look! Those Buttons are circular!!
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <h4>Normal Circle Buttons</h4>
            <button type="button" class="btn btn-default btn-circle"><i class="glyphicon glyphicon-asterisk"></i>
            </button>
            <button type="button" class="btn btn-primary btn-circle"><i class="glyphicon glyphicon-plus"></i>
            </button>
            <button type="button" class="btn btn-success btn-circle"><i class="glyphicon glyphicon-minus"></i>
            </button>
            <button type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-euro"></i>
            </button>
            <button type="button" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-cloud"></i>
            </button>
            <button type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-envelope"></i>
            </button>
            <br>
            <br>
            <h4>Large Circle Buttons</h4>
            <button type="button" class="btn btn-default btn-circle btn-lg"><i class="glyphicon glyphicon-asterisk"></i>
            </button>
            <button type="button" class="btn btn-primary btn-circle btn-lg"><i class="glyphicon glyphicon-plus"></i>
            </button>
            <button type="button" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-minus"></i>
            </button>
            <button type="button" class="btn btn-info btn-circle btn-lg"><i class="glyphicon glyphicon-euro"></i>
            </button>
            <button type="button" class="btn btn-warning btn-circle btn-lg"><i class="glyphicon glyphicon-cloud"></i>
            </button>
            <button type="button" class="btn btn-danger btn-circle btn-lg"><i class="glyphicon glyphicon-envelope"></i>
            </button>
            <br>
            <br>
            <h4>Extra Large Circle Buttons</h4>
            <button type="button" class="btn btn-default btn-circle btn-xl"><i class="glyphicon glyphicon-asterisk"></i>
            </button>
            <button type="button" class="btn btn-primary btn-circle btn-xl"><i class="glyphicon glyphicon-plus"></i>
            </button>
            <button type="button" class="btn btn-success btn-circle btn-xl"><i class="glyphicon glyphicon-minus"></i>
            </button>
            <button type="button" class="btn btn-info btn-circle btn-xl"><i class="glyphicon glyphicon-euro"></i>
            </button>
            <button type="button" class="btn btn-warning btn-circle btn-xl"><i class="glyphicon glyphicon-cloud"></i>
            </button>
            <button type="button" class="btn btn-danger btn-circle btn-xl"><i class="glyphicon glyphicon-envelope"></i>
            </button>
        </div>
        <!-- /.panel-body -->
    </div>
</div>
</div>


