
<div class="row">
<div class="col-md-5">
    <div class="row">
      <div class="col-md-12" style="background-color:orange; border-top-right-radius:20px; border-top-left-radius:20px;">
        <p style="text-align:center">Collapse</p>
      </div>
        <br><br>
    </div>
    <div class="row">
      <div class="col-md-12">
          <div id="accordion">
              <div class="card">
                <div class="card-header">
                  <a class="card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                    Collapsible1
                  </a>
                </div>
                <div id="collapseOne" class="collapse">
                  <div class="card-body">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                  </div>
                </div>
              </div>
              <div class="card">
                  <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                    Collapsible2
                  </a>
                  </div>
                  <div id="collapseTwo" class="collapse">
                    <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                  </div>
                </div>
                </div>
      </div> 
    </div>
  </div>
  <div class="col-md-1">
    &nbsp;
  </div>
  <div class="col-md-6">
      <div class="row">
        <div class="col-md-12" style="background-color:rgb(245, 198, 110); border-top-right-radius:20px; border-top-left-radius:20px;">
          <p style="text-align:center">Regular dropdown buttons</p>
        </div>
          <br><br>
      </div>
      <div class="row">
        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  123 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
        </div> 
        <div class="col-md-2">
              <div class="btn-group">
                  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    223 <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </div>
        </div> 
        <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  323 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
         </div> 
         <div class="col-md-2">
            <div class="btn-group">
                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  423 <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Separated link</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-warning dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      523 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
             </div>
             <div class="col-md-2">
                <div class="btn-group">
                    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      623 <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                      <li><a href="#">Action</a></li>
                      <li><a href="#">Another action</a></li>
                      <li><a href="#">Something else here</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="#">Separated link</a></li>
                    </ul>
                  </div>
             </div>
        
      </div>
    </div>
    </div>
    <br>
<div class="row">
    <div class="col-md-5">
        <div class="row">
          <div class="col-md-12" style="background-color:rgb(240, 216, 173); border-top-right-radius:20px; border-top-left-radius:20px;">
            <p style="text-align:center">Navbars</p>
          </div>
            <br><br>
        </div>
        <div class="row">
          <div class="col-md-12">
              <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Home</a></li>
                      <li><a >Page 1</a></li>
                      <li><a >Page 2</a></li>
                    </ul>
                  </div>
                </nav>
          </div> 
          <div class="col-md-12">
              <nav class="navbar navbar-inverse">
                  <div class="container-fluid">
                    <div class="navbar-header">
                      <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                      <li class="active"><a href="#">Home</a></li>
                      <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Page 1
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                          <li><a href="#">Page 1-1</a></li>
                          <li><a href="#">Page 1-2</a></li>
                          <li><a href="#">Page 1-3</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Page 2</a></li>
                      </ul>
                  </div>
                </nav>
          </div>
        </div>
      </div>
      <div class="col-md-1">
          &nbsp;
        </div>
<div class="col-md-6">
    <div class="row">
      <div class="col-md-12" style="background-color:rgb(240, 216, 173); border-top-right-radius:20px; border-top-left-radius:20px;">
        <p style="text-align:center">Tabs</p>
      </div>
        <br><br>
    </div>
    <div class="row">
      <div class="col-md-12">
          <ul class="nav nav-tabs">
              <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
              <li><a data-toggle="tab" href="#menu1">Menu 1</a></li>
              <li><a data-toggle="tab" href="#menu2">Menu 2</a></li>
              <li><a data-toggle="tab" href="#menu3">Menu 3</a></li>
            </ul>
          
            <div class="tab-content">
              <div id="home" class="tab-pane fade in active">
                <h3>HOME</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div id="menu1" class="tab-pane fade">
                <h3>Menu 1</h3>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
              </div>
              <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam.</p>
              </div>
              <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
              </div>
            </div>
      </div> 
    </div>
  </div>
</div>
<div class="col-md-1">
    &nbsp;
  </div>
 
 <div class="row">   
    <div class="col-md-11">
        <div class="row">
          <div class="col-md-12" style="background-color:rgb(240, 216, 173); border-top-right-radius:20px; border-top-left-radius:20px;">
            <p style="text-align:center">Alerts</p>
          </div>
            <br><br>
        </div>
        <div class="row">
          <div class="col-md-12">
              <div class="alert alert-success">
                  <strong>Success!</strong> Indicates a successful or positive action.
                </div>
                <div class="alert alert-info">
                    <strong>Info!</strong> Indicates a neutral informative change or action.
                  </div>
                  
                  <div class="alert alert-warning">
                    <strong>Warning!</strong> Indicates a warning that might need attention.
                  </div>
                  
                  <div class="alert alert-danger">
                    <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
                  </div>
          </div> 
        </div>
      </div>
</div>