<div class="card">
        <div class="row">
            <div>
              <p style="overflow: auto;font-family: verdana;font-size: 20px; text-align:center ">About</p>
              </div>
              <div>
              <p style="text-align:center">Dashboards often provide at-a-glance views of KPIs (key performance indicators) relevant to a particular objective or business process . ... The "dashboard" is often displayed on a web page which is linked to a database that allows the report to be constantly updated.</p>
              </div>
        </div>
      </div>
      <br>
      
<div class="card">
        <div class="row">
            <div class="col-md-2" style="background-color: orange;" >
                    <span class="glyphicon glyphicon-eye-open" ></span>
              </div>
          <div class="col-md-10" style="padding:20px 20px 20px 20px">
            <p style="overflow: auto;font-family: verdana;font-size: 20px; text-align:center ">1,200</p>
            <p style="overflow: auto;font-family: verdana;font-size: 20px; text-align:center ">Profile views</p>
          </div>
        </div>
      </div>
      <br>
      
  <div class="card">
        <div class="row">
            <div class="col-md-2" style="background-color:rgb(221, 213, 143);" >
                    <span class="glyphicon glyphicon-stats" ></span>
              </div>
          <div class="col-md-10" style="padding:20px 20px 20px 20px">
            <p style="overflow: auto;font-family: verdana;font-size: 20px; text-align:center ">6,123</p>
            <p style="overflow: auto;font-family: verdana;font-size: 20px; text-align:center ">Total Sales this week</p>
          </div>
        </div>
      </div>
      <br>
      <div class="card">
            <div class="row">
                <div class="col-md-2" style="background-color:rgb(212, 152, 73);" >
                        <span class="glyphicon glyphicon-calendar" ></span>
                  </div>
              <div class="col-md-10" style="padding:20px 20px 20px 20px">
                <p style="overflow: auto;font-family: verdana;font-size: 20px; text-align:center ">$12,34.00</p>
                <p style="overflow: auto;font-family: verdana;font-size: 20px; text-align:center ">Net Revenue</p>
              </div>
            </div>
          </div>
          <br>