.col-md-11{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition:0.3s;
    background-color:rgba(238, 224, 224, 0.774);
    border-radius: 20px;
}
.col-md-6{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition:0.3s;
    background-color:rgba(238, 224, 224, 0.774);
    border-radius: 20px;
    
}
.col-md-5{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition:0.3s;
    background-color:rgba(238, 224, 224, 0.774);
    border-radius: 20px;
}
.col-md-12{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition:0.3s;
    background-color:rgba(238, 224, 224, 0.774);
    border-radius: 20px;
}

